@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1a054;
  --foreground: #171717;
  --mtr: 0.76690707;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d1a054;
    --foreground: #d1a054;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  position: relative;
}

.overlay2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 888;
  display: flex;
  opacity: 1;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  left: 0;
  top: 0;
}
.bar {
  width: 10vw;
  height: 105vh;
  background-color: #d1a054;
}
.bar2 {
  width: 10vw;
  height: 105vh;
  background-color: #008000;
}

.product-showcase-container {

  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 2rem;
  
  
}
.product-controls {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  z-index: 99;
  gap: 20rem;
}
.main {
  background: #826437;
  background: linear-gradient(0deg, rgba(130, 100, 55, 1) 0%, rgba(209, 160, 84, 1) 98%);
}
.more {
  background: #1D1A1A;
  background: linear-gradient(0deg, rgba(29, 26, 26, 1) 0%, rgba(103, 97, 97, 1) 98%);
}

.product-title {
  margin-top: 3rem;
}

.slider-selection:hover {
  transform: scale(1.1);

}
.honeygold-button {
  z-index: 999;
}
@media (hover: hover) and (pointer: fine) {
  .honeygold-button:hover {
    transform: scale(1.1);
  }

  .more-button:hover {
  transform: scale(1.1);

}

}

.slider-selection {
  width: 100px;
  height: 50px;
  background-color: #A1E6B3;
  position: absolute;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.image-container {
  position: relative;
  width: 70px;   /* ✅ same width */
  height: 50px;  /* ✅ same height */
  display: flex;
  align-items: center;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.slogan {
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: oblique;
  src: url("../../public/fonts/fredoka-one.woff"),
    url("../../public/fonts/fredoka-one.woff2");
}

/* Carousel Logic */




/* Menu Burger Logic */

#paper-back {
  width: 100%;
  height: 100vh;
  background-color: green;
  position: fixed;
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-variation-settings: "wdth" 125;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  nav {
    padding: 120px 34px;
    display: flex;
    li {
      display: block;
      margin-bottom: 35px;
      font-size: 20px;
      text-decoration: none;
      color: rgba(white, 0.7);
      div {

        gap: 1rem;
        padding-top: 1rem;
        
      }
      a {
        font-size: 16px;
        display: flex;
        gap: 1rem;
      }
    }
  }
}

#button-handle {
  bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#button-handle-2 {
  
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
  position: absolute;
  bottom: 3rem;
}

#scroll-banner {
  transform: skewX(0.1333333deg);
  user-select: none;
  touch-action: pan-y;
}
#scroll-image {
  position: absolute;
  bottom: -1.5rem;
  left: 2.4rem;
  z-index: -10;
  transform: rotate(-40deg);
}

#scroll-content {
  transform: translate3d(0%, 0px, 0px);
  color: black;
  padding-block: 72px;
  display: flex;
  gap: 2rem;
  user-select: none;
  overflow: hidden;
  font-family: "Comfortaa", fantasy;

  ul {
    display: flex;
    flex-shrink: 0;
    position: relative;
    min-width: 100%;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    animation: scroll 24s linear infinite;
    ul:first-child {
      background-color: yellow;
    }
  }
}
#scroll-header {
  color: green;
  margin-top: 2rem;
}

#descriptive-text-caption {
  opacity: 0;
  position: fixed;
  top: 4rem;
  width: 80px;
  height: 50px;
}
#descriptive-text-heading {
  padding: 1rem;
}
#scroll-content:hover ul {
  animation-play-state: paused;
}
.vertical-line {
  border-left: 2px solid #d1a054;
  height: 60px;
  margin-left: 145px;
}
#item-scroll {
  border: 1px green solid;
  padding: 1rem;
  color: white;
}
.banner-container {
  width: 100%;
  overflow: hidden;
  background-color: #111;
  color: #fff;
  padding: 10px 0;
  position: relative;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}
.banner {
  white-space: nowrap;
  display: flex;
}
.banner-content {
  display: flex;
  gap: 2rem;
  padding-left: 100%;
  animation: slide-to-left 12s linear infinite;
}

@keyframes slide-to-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 32px));
  }
}

/* //prevents the scrolling when the menu is open */
#paper-window {
  height: 100dvh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;

  &.tilt {
    overflow: hidden;
    pointer-events: none;
    #paper-front {
      transform: rotate(10deg) translateZ(0);
    }
  }
}

#paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 3;
  background-color: #d1a054;
  box-shadow: 0 0 20px rgba(black, 0.7);
  transform-origin: center 70%;
  transition: all 0.3s ease;
  height: 100dvh;
}

#product-showcase {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  z-index: 10;
  background: linear-gradient(#d1a054, white);
}

/* //actual content */
#container {
  section {
    height: 100dvh;
    text-align: center;
    &:first-of-type {
      padding-top: 10vh;
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 25px;
      }
      @media (max-width: 600px) {
        padding-top: 3vh;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    &:nth-of-type(2n) {
      background-color: lighten(red, 75%);
    }
  }
}
#social-section {
  background: linear-gradient(green 20%, black);
  height: 30vh;
}

.our_story {
  position: absolute;
  top: 0;
  background-color: #d1a054;
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  padding-top: 4rem;
  align-items: center;
  h1 {
    font-size: 2rem;
  }
}
.newsletter-section {
  background-color: green;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  font-family: "Ultra", serif;
  font-weight: 700;
  background-image: linear-gradient(black 60%, green);

  p {
    max-width: 6rem;
    color: #d1a054;
  }
}
.hamburger {
  position: fixed;
  z-index: 30;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  user-select: none;

  span {
    position: relative;

    &,
    &:before,
    &:after {
      display: block;
      width: 45px;
      height: 6px;
      background-color: green;
      border-radius: 2px;
      transition: background-color 0.25s ease;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
    }

    &:before {
      bottom: -14px;
    }

    &:after {
      bottom: -28px;
    }
  }

  &:active {
    background-color: rgba(128, 128, 128, 0.4); 
  }
}


.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 6px;
    top: 50%;
    background-color: white;
    border-radius: 2px;
  }
  &:before {
    transform: translateY(-50%) rotate(45deg);
  }
  &:after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

#secondlogo {
  margin-left: 2em;
}


@media (max-width: 630px) {
  #button-handle {
    bottom: 3rem;
  }
  .product-controls {
    display: flex;
    justify-content: unset;
    z-index: 99;
    gap: 10rem;
  }

  #popup-container {
    margin-top: -10rem;
  }
  #cancel {
    bottom: 3%;
  }
}

@media (max-width: 375px) {
  #button-handle {
    bottom: 1rem;
  }
}
@media (max-width: 440px) {
  #button-handle {
    bottom: 1rem;
  }
  .product-controls {
    display: flex;
    justify-content: unset;
    z-index: 99;
    gap: 5rem;
  }
}
