@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1a054;
  --foreground: #171717;
  --mtr: 0.76690707;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d1a054;
    --foreground: #d1a054;
  }
}




body {
  color: var(--foreground);
  background: var(--background);
  position: relative;
}
body.tilt-lock {
  overflow: hidden; /* lock scroll */
  height: 100vh;    /* prevent extra mobile viewport scroll */
}



.overlay2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 888;
  display: flex;
  opacity: 1;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  left: 0;
  top: 0;
}
.bar {
  width: 10vw;
  height: 105vh;
  background-color: #d1a054;
}
.bar2 {
  width: 10vw;
  height: 105vh;
  background-color: #008000;
}


.product-controls {
  display: flex;
  justify-content: center;
  position: relative;

}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#button-handle {
  position: absolute;
  bottom: 3rem;  
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#button-handle-2 {
  
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  bottom: 1rem;
}
/* //actual content */
#container {
  section {
    height: 100lvh;
    height: 100dvh;
    text-align: center;
    
    &:first-of-type {
      padding-top: 10vh;
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 25px;
      }
      @media (max-width: 600px) {
        padding-top: 3vh;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    &:nth-of-type(2n) {
      background-color: lighten(red, 75%);
    }
  }
}
.hamburger {
  position: fixed;
  z-index: 799;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  user-select: none;

  span {
    position: relative;

    &,
    &:before,
    &:after {
      display: block;
      width: 45px;
      height: 6px;
      background-color: green;
      border-radius: 2px;
      transition: background-color 0.25s ease;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
    }

    &:before {
      bottom: -14px;
    }

    &:after {
      bottom: -28px;
    }
  }

  &:active {
    background-color: rgba(128, 128, 128, 0.4); 
  }
}
#paper-window {
  min-height: 100lvh;
  min-height: 100dvh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;

  &.tilt {
    pointer-events: none;
    overflow-y: hidden;
    #paper-front {
      transform: rotate(10deg) translateZ(0);
    }
  }
}

 #paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 11;
  background-color: #d1a054;
  box-shadow: 0 0 20px rgba(black, 0.7);
  transform-origin: center 70%;
  transition: all 0.3s ease;
  min-height: 100lvh;
  min-height: 100dvh;
}  
.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 6px;
    top: 50%;
    background-color: white;
    border-radius: 2px;
  }
  &:before {
    transform: translateY(-50%) rotate(45deg);
  }
  &:after {
    transform: translateY(-50%) rotate(-45deg);
  }
  
}
 #paper-back {
  width: 100%;
  height: 100vh;
  background-color: green;
  position: fixed;
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-variation-settings: "wdth" 125;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;

 
} 
.navigation {
  padding: 120px 34px;
  display: flex;
  height: 35rem;
  position: relative;
}


.menu-options {
  color: white;
  font-size: 1.2rem;
  display: block;
  width: auto;
  padding: 0.5rem;
  cursor: pointer;
}
.menu-options:active {
  background-color: #d1a054;
  color: #008000;
  border-radius: 6px;
  transition: transform 120ms ease, background-color 0.1s ease;
  transform: scale(0.97);


}
.close:active {
  background-color: #d1a054;
  border-radius: 6px;
  transition: transform 120ms ease, background-color 0.1s ease;
  

}

.menu-options a {
  color: white !important;
}

#about-folder {

  margin-top: 1rem;
}
#product-folder {

  margin-top: 1rem;
}
#social-folder {

  margin-top: 1rem;
  gap: 1rem;
  z-index: -50;
}







.our_story {
  top: 0;
  background-color: #d1a054;
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  padding: 2.5rem;
  padding-top: 4rem;
  align-items: center;
  h1 {
    font-size: 2rem;
  }
}

.main-view {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 50;
  border: 3px red solid;
}
.number {
  font-family: "Fredoka One", cursive;
}

.info-container {
  border: 1px red solid;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1.2rem;
  position: relative;
}
.circle {
  width: 200px;
  height: 60px;
  border-radius: 50%;
  border: 3px green solid;
  position: relative;
  

}



#secondlogo {
  margin-left: 2em;
}

.nav-item {
  position: relative;
  transform: translateY(0);
  transition: transform 0.3s ease, opacity 0.3s ease, scale 0.3s ease;
}

.nav-item.dimmed {
  opacity: 0;
  scale: 0.9;
  pointer-events: none;
}


.nav-button {
  color: white;
  font-size: 1.55rem;
  transition: background 0.15s, transform 0.15s;
}

.nav-button:active {
  transform: scale(0.95);
  background: #d1a054;
  border-radius: 10px;
}
.nav-item.open {
  transform: translateY(var(--offset));
}

.dropdown {
  position: absolute;
  left: 0;
  top: 3.5rem;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: start;
  align-items: start;

  transition:
    opacity 0.25s ease,
    visibility 0s linear 0.25s;
}

.dropdown.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition:
    opacity 0.25s ease,
    visibility 0s;
}



@media (min-width: 320px) and (max-width: 375px) {
  #button-handle {
    bottom: 1rem;
  }
  .product-image {
    bottom: 5rem;
  }
  .banner {
    height: 70dvh;
  }
}
@media (min-width: 376px) and (max-width: 440px) {
  #button-handle {
    bottom: 1rem;
  }
  .product-controls {
    display: flex;
    justify-content: unset;
    z-index: 99;
  }
  .product-image {
    bottom: 3rem;
  }
  .banner {
    height: 70dvh;
  }
}
@media (min-width: 441px) and (max-width: 768px) {
  #button-handle {
    bottom: 1rem;
  }
  .product-controls {
    display: flex;
    justify-content: unset;
    z-index: 99;
  }
  .product-image {
    bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  
}


