@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1a054;
  --foreground: #171717;
  --mtr: 0.76690707;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d1a054;
    --foreground: #d1a054;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  position: relative;
}

.overlay2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 888;
  display: flex;
  opacity: 1;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  left: 0;
  top: 0;
}
.bar {
  width: 10vw;
  height: 105vh;
  background-color: #d1a054;
}
.bar2 {
  width: 10vw;
  height: 105vh;
  background-color: green;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 767px) {
  #button-handle {
    bottom: 3rem;
  }

  #popup-container {
    margin-top: -10rem;
  }
  #cancel {
    bottom: 3%;
  }
}

@media (max-width: 375px) {
  #button-handle {
    bottom: 1rem;
  }
}
@media (max-width: 400px) {
  #button-handle {
    bottom: 1rem;
  }
}

.slogan {
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: oblique;
  src: url("../../public/fonts/fredoka-one.woff"),
    url("../../public/fonts/fredoka-one.woff2");
}

/* Carousel Logic */

.embla {
  max-width: 30rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  border: 1px red solid;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

/* Menu Burger Logic */

#paper-back {
  width: 100%;
  height: 100vh;
  background-color: green;
  position: fixed;
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-variation-settings: "wdth" 125;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  nav {
    padding: 120px 34px;
    display: flex;
    li {
      display: block;
      margin-bottom: 35px;
      text-decoration: none;
      color: rgba(white, 0.7);
    }
  }
}

#button-handle {
  transform: translateX(-50%);
  bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#scroll-banner {
  transform: skewX(0.1333333deg);
  user-select: none;
  touch-action: pan-y;
}
#scroll-image {
  position: absolute;
  bottom: -1.5rem;
  left: 2.4rem;
  z-index: -10;
  transform: rotate(-40deg);
}

#scroll-content {
  transform: translate3d(0%, 0px, 0px);
  color: black;
  padding-block: 72px;
  display: flex;
  gap: 2rem;
  user-select: none;
  overflow: hidden;
  font-family: "Comfortaa", fantasy;

  ul {
    display: flex;
    flex-shrink: 0;
    position: relative;
    min-width: 100%;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    animation: scroll 24s linear infinite;
    ul:first-child {
      background-color: yellow;
    }
  }
}
#scroll-header {
  color: green;
  margin-top: 2rem;
}

#descriptive-text-caption {
  opacity: 0;
  position: fixed;
  top: 4rem;
  width: 80px;
  height: 50px;
}
#descriptive-text-heading {
  padding: 1rem;
}
#scroll-content:hover ul {
  animation-play-state: paused;
}
.vertical-line {
  border-left: 2px solid #d1a054;
  height: 60px;
  margin-left: 145px;
}
#item-scroll {
  border: 1px green solid;
  padding: 1rem;
  color: white;
}
.banner-container {
  width: 100%;
  overflow: hidden;
  background-color: #111;
  color: #fff;
  padding: 10px 0;
  position: relative;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}
.banner {
  white-space: nowrap;
  display: flex;
}
.banner-content {
  display: flex;
  gap: 2rem;
  padding-left: 100%;
  animation: slide-to-left 12s linear infinite;
}

@keyframes slide-to-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 32px));
  }
}

/* //prevents the scrolling when the menu is open */
#paper-window {
  height: 100dvh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;

  &.tilt {
    overflow: hidden;
    pointer-events: none;
    #paper-front {
      transform: rotate(10deg) translateZ(0);
    }
  }
}

#paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 3;
  background-color: #d1a054;
  box-shadow: 0 0 20px rgba(black, 0.7);
  transform-origin: center 70%;
  transition: all 0.3s ease;
  height: 100dvh;
}

#product-showcase {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  z-index: 10;
  background: linear-gradient(#d1a054, white);
}

/* //actual content */
#container {
  section {
    height: 600px;
    text-align: center;
    &:first-of-type {
      padding-top: 10vh;
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 25px;
      }
      @media (max-width: 600px) {
        padding-top: 15vh;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    &:nth-of-type(2n) {
      background-color: lighten(red, 75%);
    }
  }
}
#social-section {
  background: linear-gradient(green 20%, black);
  height: 30vh;
}

.our_story {
  position: absolute;
  top: 0;
  background-color: #d1a054;
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  padding-top: 4rem;
  align-items: center;
  h1 {
    font-size: 2rem;
  }
}
.newsletter-section {
  background-color: green;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  font-family: "Ultra", serif;
  font-weight: 700;
  background-image: linear-gradient(black 60%, green);

  p {
    max-width: 6rem;
    color: #d1a054;
  }
}
.hamburger {
  position: fixed;
  z-index: 30;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  user-select: none;
  span {
    position: relative;

    &,
    &:before,
    &:after {
      display: block;
      width: 45px;
      height: 6px;
      background-color: green;
      border-radius: 2px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    &:before {
      bottom: -14px;
    }
    &:after {
      bottom: -28px;
    }
  }
}

.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 6px;
    top: 50%;
    background-color: white;
    border-radius: 2px;
  }
  &:before {
    transform: translateY(-50%) rotate(45deg);
  }
  &:after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

#secondlogo {
  margin-left: 2em;
}
