@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d1a054;
    --foreground: #d1a054;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 767px) {


  #button-handle {

    bottom: 5rem;

  }

  #popup-container {
    margin-top: -10rem;
  }
  #cancel {
    bottom: 3%;
  }
}



