@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  margin: 0;
  padding: 0;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d1a054;
    --foreground: #d1a054;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

}

.overlay2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 888;
  display: flex;
  opacity: 1;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  left: 0;
  top: 0;
}
.bar {
  width: 10vw;
  height: 105vh;
  background-color: #d1a054;
}
.bar2 {
  width: 10vw;
  height: 105vh;
  background-color: green;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 767px) {


  #button-handle {

    bottom: 3rem;

  }

  #popup-container {
    margin-top: -10rem;
  }
  #cancel {
    bottom: 3%;
  }
}

@media (max-width: 375px) {

  #button-handle {
    bottom: 3rem;
  }
}
@media (max-width: 400px) {

  #button-handle {
    bottom: 2rem;
  }
}


