.close {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 45px;
    height: 34px;
    cursor: pointer;
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 45px;
      height: 6px;
      top: 50%;
      background-color: white;
      border-radius: 2px;
    }
    &:before {
      transform: translateY(-50%) rotate(45deg);
    }
    &:after {
      transform: translateY(-50%) rotate(-45deg);
    }
    
  }
  
  #paper-back {
    width: 100%;
    height: 100vh;
    background-color: green;
    position: fixed;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-variation-settings: "wdth" 125;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
  
   
  }
  .navigation {
    padding: 120px 34px;
    display: flex;
    height: 35rem;
    position: relative;
  }
  

  .menu-options {
    color: white;
    font-size: 1.2rem;
    display: block;
    width: auto;
    padding: 0.5rem;
    cursor: pointer;
  }
  .menu-options:active {
    background-color: #d1a054;
    color: #008000;
    border-radius: 6px;
    transition: transform 120ms ease, background-color 0.1s ease;
    transform: scale(0.97);
  
  
  }
  .close:active {
    background-color: #d1a054;
    border-radius: 6px;
    transition: transform 120ms ease, background-color 0.1s ease;
    
  
  }
  
  .menu-options a {
    color: white !important;
  }

  #about-folder {

    margin-top: 1rem;
  }
  #product-folder {
  
    margin-top: 1rem;
  }
  #social-folder {
  
    margin-top: 1rem;
    gap: 1rem;
    z-index: -50;
  }