.fruits {
    font-family: var(--font-fredoka), sans-serif;
    font-weight: 900;    
    font-size: 2em;
    color: #6FEF6D;
}


.nutrition {

    min-width: 300px;
    min-height: 300px;
    position: relative;
}

.nutrition-text {
    width: 300px;
}
.ingredients-section {

    height: 80lvh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
    margin-top: 3rem;
    
}

h2 {
    font-size: 2.5em;
    font-family: var(--font-fredoka), sans-serif;
    font-weight: 900;
    
}
h1 {
    font-size: 3em;
    font-family: var(--font-fredoka), sans-serif;
    font-weight: 900;
    color: #b27f34;
    text-shadow:     -2px -2px 0 black,
                         2px -2px 0 black,
                        -2px  2px 0 black,
                         2px  2px 0 black;
    
}

.fun-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
}

.scroll-container {
    height: 100lvh;
    position: relative;
}
.fruits .peach {
    transform: translateY(100px);   /* adjust px */

}
.fruit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;            /* allows wrapping on small screens */
  justify-content: center;     /* centers items when they wrap */
  gap: 3rem;

}