.fruits {
    font-family: "Fredoka One", cursive;
    font-size: 2em;
    color: #6FEF6D;
}


.nutrition {

    min-width: 300px;
    min-height: 300px;
    position: relative;
}

.nutrition-text {
    width: 300px;
}
.ingredients-section {

    height: 80lvh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
    
}

h2 {
    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
    
}

.fun-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.scroll-container {
    height: 100lvh;
    position: relative;
}
.fruits .peach {
    bottom: 0;
    position: fixed;
}
.fruit {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  display: flex;
  gap: 15rem;

}