.our-products {


    height: 100lvh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.drinks {

    border: 3px green solid;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: #02A236;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}
.other {
    border: 3px red solid;
    width: 500px;
    height: 500px;
}
.picture-container {
    width: 400px;
    height: 400px;
    border-radius: 6px;
    background-color: #6FEF6D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.drink-title {
    font-family: "Fredoka One", cursive;
    font-size: 2em;
}
