.triangle::before {
  color: red;
  position: fixed;
  z-index: 99;
  border: solid;
}

.image {
  min-width: 40%;
  min-height: 60%;
  border-radius: 1rem;
}

#popup-container {
}
.close-popup {
  position: absolute;
  color: black;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}
.tapped-close {
  transform: scale(0.95);
  color: #d1a054;
  background-color: #4ade80;
  border-radius: 6px;

  transition: transform 120ms ease, background-color 120ms ease;
}


/* MOBILE + TABLET STYLING */
@media only screen and (max-width: 1024px) {
  #popup-container {
    top: 15rem;
    padding: 2rem;
    flex-direction: column; /* stack content vertically for smaller screens */
    gap: 2rem;
    width: 90vw;
  }

  .image {
    display: none; /* hide product image */
  }

  #button-submit {
    width: 9rem;
  }
}

/* DESKTOP STYLING */
@media only screen and (min-width: 1025px) {
  .image {
    display: inline-block;
  }

  #popup-container {
    align-items: center;
    justify-content: center;
    padding: 3rem;
    width: 60rem;
    border: 1px red solid;
    flex-direction: row; /* show image + content side by side */
  }
}
