.triangle::before {
  color: red;
  position: fixed;
  z-index: 99;
  border: solid;
}

.image {
  min-width: 40%;
  min-height: 60%;
  border-radius: 1rem;
}

.container-pop {

  position: fixed;
  top: 2rem; 
  transform: translateX(-50%); 
  z-index: 999;
  border: 2px #15803d solid;
  color: black;
  background-color: #51B150;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.75rem;
  display: flex;
  max-width: 90vw;
  padding: 2rem;


}
.close-popup {
  position: absolute;
  color: black;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}

.tapped-close {
  transform: scale(0.95);
  color: #d1a054;
  background-color: #4ade80;
  border-radius: 6px;

  transition: transform 120ms ease, background-color 120ms ease;
}
@media only screen and (max-width: 600px) {
  .container-pop {
    left: 5%;
    border: 1px blue solid;
   }
}

/* MOBILE + TABLET STYLING */
@media only screen and (max-width: 1024px) {
  
 .container-pop {
 }

  .image {
    display: none; /* hide product image */
  }

  #button-submit {
    width: 9rem;
  }
}

/* DESKTOP STYLING */
@media only screen and (min-width: 1025px) {
  .image {
    display: inline-block;
  }

  .container-pop {
    align-items: center;
    justify-content: center;
    padding: 3rem;
    width: 60rem;
    border: 3px red solid;
    top: 2rem;
    z-index: 999;
    left: 15%;
    flex-direction: row; /* show image + content side by side */
  }
}
